#content {
    max-width: 1600px;
    margin: 0 auto;
    
}
body {
    
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    /*background-color:#cab19b*/
    background: linear-gradient(141deg, hsl(39deg 26.21% 46.8%) 0%, #a4805e, #2e2822);
}
nav {
    display: flex;
    justify-content: space-around;
    /*float: inline-end;*/
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: rgb(50, 49, 48);
    color: white;
    opacity: 0.8;
}
.logo {
    width: 80px;
    border-radius: 50%;
}
#logo_link  {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
} 
main section {
    text-align: center;
    
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    /*background-color:#244855*/
    
}
.resume-look {
    background-color: rgb(50, 49, 48);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
}
.resume-look:hover {
    opacity: 0.5;
    background-color: rgb(50, 49, 48);
    color:  white
    
}
.resume-title {
    
    color: hsl(40, 57%, 9%);
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
.resume-box {
    text-align: center;

}
#resume-msg h1, #resume-msg h4 {
    text-align: center;
    
}
#resume {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#resume-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
   
    
}
#resume-img {
    width: 100%;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}
#resume-msg h4 {
    color: black;
}
#resume-msg {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 100px;
    padding-bottom: 40%;
    padding-left: 30%;
    
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    
}
.messageaboutme {
    color: blanchedalmond;
    width: 90%;
    height: 350px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 50%;
}
.messageaboutme p {
    color: hsl(39deg 28.85% 84.38%);
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}
.messageaboutme h2 {
    color: hsl(39deg 28.85% 84.38%);
    font-size: 2em;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;

}
.learn {
    background-color: rgb(50, 49, 48);
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
}
.learn:hover {
    opacity: 0.5;
    background-color: rgb(50, 49, 48);
    color:  white
    
}
.learn:link {
    color: hsl(39deg 28.85% 84.38%);
    background-color: hsl(11deg 43.74% 31.96%);
}
#hero-box {
    padding-top: 10%;

}

#hero-box img {
    width: 80%;
    margin-left: 10%;
    border-radius: 5%;
}

footer {
    background-color: #a5720d;
    color: hsl(40, 57%, 9%);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(141deg, hsl(39deg 41.31% 17.83%) 0%, #a4805e, #583e24);
    
}
footer .social img {
    padding-top: 15px;
    width: 50px;
}
footer a {
    color:  hsl(40, 57%, 9%);
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: blanchedalmond;
}